ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.menuAtual) {
    background-color: #111;
  }
  
  .menuAtual{
    background-color: red;
  }
  
  .menu{
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1;
    color: white;
  }

 
  .menuUl{
    display: flex;
  }

  .menuConves{
    clip-path: circle(94.3% at 50% 0);
    position: relative;
    margin-left: 25%;
    width: 200px;
    background-color: rgb(240, 100, 20);

  }
  