
.AnimacaoAbrir {
    /*Animação*/
    animation-name: luffyContent;
    animation-duration: 0.9s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
  .AnimacaoMoverPng{
    animation-name: luffypng;
    animation-duration: 0.9s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
  .AnimacaoFechar{
    /*Animação*/
    animation-name: luffyContentB;
    animation-duration: 0.9s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-direction: reverse;
  }
  .AnimacaoVoltarPng{
    animation-name: luffypngB;
    animation-duration: 0.9s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-direction: reverse;
  }

  .contentVisible{
    opacity: 1;
    visibility: visible;
  }


  .contentHidden{
    opacity: 0;
    visibility: hidden;
  }

@keyframes luffyContent {
    0%{left:-40% ;top:60px ; }
    100%{left:-250% ;top:-300px; width: 300%; height: 700px; background-color: rgb(4, 4, 31);}
}

@keyframes luffypng {
    0%{left:0 ;top:0 ;}
    100%{left:-300% ;top:-250px;transform: rotateY(180deg);}
}

@keyframes luffyContentB {
    0%{left:-40% ;top:60px ;}
    100%{left:-250% ;top:-300px; width: 300%; height: 700px;background-color: rgb(4, 4, 31);}
}

@keyframes luffypngB {
    0%{left:0 ;top:0 ;}
    100%{left:-300% ;top:-250px;transform: rotateY(180deg);}
}


/*Box content*/
[data-anime]{
  opacity: 0;
  transition: 0.9s;
}

[data-anime="bottom"]{
  transform:translate3d(0px , 400px, 0px);
}

[data-anime="left"]{
  transform:translate3d(-200px , 0px, 0px);
}

[data-anime="right"]{
  transform:translate3d(200px , 0px, 0px);
}

[data-anime].animate{
  opacity: 1;
  transform: translate3d(0px,0px,0px);
}
