body{
    background-image: url(MapaWano.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.onigashima{
    position:absolute;
    left:47%;
    top:82%;


    width:100px;
    height:100px;
    background-color: rgba(0, 0, 0, 0.507);
}


.transicao{
    transition: transform 0.5s; /*Tempo da transição*/
}

.transicao:hover{
    transform: scale(1.1); /*Escala da transição*/
}